.sidebar {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 250px;
    width: 20%;
    margin: 0 1rem;
    height: 100%;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar li {
    margin: 0.5rem 0;
    padding: 0.75rem 0;
    font-size: 1.65rem;
    background-color: #dff0ff;
    border-radius: 10px;
}

.sidebar a {
    color: darkblue;
    margin: 0;
    display: flex;
    align-items: left;
    justify-content: left;
    text-decoration: none;
    padding-left: 30px;
}

.sidebar a:visited {
    color: darkblue;
}